extends ../layout
block content
  div(class="weui-cells")
    each val, index in videoList
      a(href='/video/' + index, target="_blank", class="weui-cell weui-cell_access")
        div(class="weui-cell__bd")
          p= index
        div(class="weui-cell__ft")
